* {
    background-color: black;
    margin: 8px;
    font-size: 15px;
    padding: .5px;
    color:white;
    text-align: left;
}

#rock,
#scissors,
#paper {
    border: 3px solid red;
    color: red;
    padding: 3px;
}

#log {
    color: red;
}

#final-score-message {
    color: yellow
}